@model eStore.Shared.Models.Accounts.Expenses.EletricityBill

@{
    ViewData["Title"] = "Create";
}



<h4>Eletricity Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ElectricityConnectionId" class="control-label"></label>
                <select asp-for="ElectricityConnectionId" class="form-control" asp-items="ViewBag.ElectricityConnectionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label"></label>
                <select asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BillNumber" class="control-label"></label>
                <input asp-for="BillNumber" class="form-control" />
                <span asp-validation-for="BillNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillDate" class="control-label"></label>
                <input asp-for="BillDate" class="form-control" />
                <span asp-validation-for="BillDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterReadingDate" class="control-label"></label>
                <input asp-for="MeterReadingDate" class="form-control" />
                <span asp-validation-for="MeterReadingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMeterReading" class="control-label"></label>
                <input asp-for="CurrentMeterReading" class="form-control" />
                <span asp-validation-for="CurrentMeterReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalUnit" class="control-label"></label>
                <input asp-for="TotalUnit" class="form-control" />
                <span asp-validation-for="TotalUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAmount" class="control-label"></label>
                <input asp-for="CurrentAmount" class="form-control" />
                <span asp-validation-for="CurrentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrearAmount" class="control-label"></label>
                <input asp-for="ArrearAmount" class="form-control" />
                <span asp-validation-for="ArrearAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetDemand" class="control-label"></label>
                <input asp-for="NetDemand" class="form-control" />
                <span asp-validation-for="NetDemand" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="UserId" class="form-control" type="hidden" value="@User.Identity.Name" />
                <input asp-for="IsReadOnly" type="hidden" value="false" />
                <span asp-validation-for="StoreId" class="text-danger"></span>
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

