@model eStore.Shared.ViewModels.ChartJsViewModel

<div class="chart-container" width="600" height="400">
    <canvas id="staffSale"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx = document.getElementById('staffSale');
        var myChart = new Chart(ctx, @Html.Raw(Model.ChartJson) );

    });
</script> 