@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div><h1 class="text-danger">Database Exporter</h1></div>

<div>
    <a action="DownloadAsZip()" class="btn btn-rounded btn-primary" >Download(Zip)</a>
</div>