@model eStore.Shared.Models.Tailoring.TalioringDelivery
@{
    ViewData["Title"] = "Edit";
}

<h4>TalioringDelivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TalioringDeliveryId" />
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TalioringBookingId" class="control-label"></label>
                <select asp-for="TalioringBookingId" class="form-control" asp-items="ViewBag.TalioringBookingId"></select>
                <span asp-validation-for="TalioringBookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvNo" class="control-label"></label>
                <input asp-for="InvNo" class="form-control" />
                <span asp-validation-for="InvNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="StoreId" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" type="hidden" value="@User.Identity.Name" />
            </div>
            <div class="form-group">
                <input type="hidden" value="3" asp-for="EntryStatus" class="form-control" />
            </div>

            <div class="form-group form-check">

                <input class="form-check-input" type="hidden" asp-for="IsReadOnly" />

            </div>
             
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

