@model eStore.Shared.Models.AppInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AppInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppInfoId" />
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateOn" class="control-label"></label>
                <input asp-for="UpdateOn" class="form-control" />
                <span asp-validation-for="UpdateOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatabaseVersion" class="control-label"></label>
                <input asp-for="DatabaseVersion" class="form-control" />
                <span asp-validation-for="DatabaseVersion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEffective" /> @Html.DisplayNameFor(model => model.IsEffective)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
