@model eStore.Shared.ViewModels.Payroll.SalesmanInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesmanInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalesmanName" class="control-label"></label>
                <input asp-for="SalesmanName" class="form-control" />
                <span asp-validation-for="SalesmanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSale" class="control-label"></label>
                <input asp-for="TotalSale" class="form-control" />
                <span asp-validation-for="TotalSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentYear" class="control-label"></label>
                <input asp-for="CurrentYear" class="form-control" />
                <span asp-validation-for="CurrentYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMonth" class="control-label"></label>
                <input asp-for="CurrentMonth" class="form-control" />
                <span asp-validation-for="CurrentMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMonth" class="control-label"></label>
                <input asp-for="LastMonth" class="form-control" />
                <span asp-validation-for="LastMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastYear" class="control-label"></label>
                <input asp-for="LastYear" class="form-control" />
                <span asp-validation-for="LastYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBillCount" class="control-label"></label>
                <input asp-for="TotalBillCount" class="form-control" />
                <span asp-validation-for="TotalBillCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Average" class="control-label"></label>
                <input asp-for="Average" class="form-control" />
                <span asp-validation-for="Average" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
