@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Aprajita Retails, Dumka<br />Men's Clothing Store from Brand Arvind Mills.</p>
</div>
