<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_CSSImport" />
</head>
<body class="fixed-sn mdb-skin-custom" data-spy="scroll" data-target="#scrollspy" data-offset="15">
    <header><partial name="_Menu" /></header>
<main role="main" class="">
        <div class="main-wrapper container-fluid">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top border-secondary footer  font-small text-muted ">
        <div class="container">
            @DateTime.Now    &copy; 2020 - eStore © : Aprajita Retails - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <partial name="_loginModal" />
    <partial name="_signUpModal" />
    <partial name="_ImportJS" />
    @await RenderSectionAsync("Scripts", required: false)
    <script>$(document).ready(function () {
            $('.mdb-select').materialSelect();
            $(".button-collapse").sideNav();
            var el = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(el);
        });</script>
    <script>(function () {
            'use strict'
            feather.replace()
        }())</script>
    @*@Html.PageScripts()*@
</body>
</html>
