@model eStore.Shared.Models.Sales.DuesList

@{
    ViewData["Title"] = "Edit";
}



<h4>DuesList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DuesListId" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsRecovered" type="checkbox" />
                <label class="form-check-label" asp-for="IsRecovered">
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RecoveryDate" class="control-label"></label>
                <input asp-for="RecoveryDate" class="form-control" />
                <span asp-validation-for="RecoveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailySaleId" class="control-label"></label>
                <select asp-for="DailySaleId" class="form-control" asp-items="ViewBag.DailySaleId"></select>
                <span asp-validation-for="DailySaleId" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsPartialRecovery" type="checkbox" />
                <label class="form-check-label" asp-for="IsPartialRecovery">
                </label>
            </div>
            <div>
                <input asp-for="StoreId" class="form-control" type="hidden" value="@ViewBag.StoreId" />
                <input asp-for="UserId" class="form-control" type="hidden" value="@User.Identity.Name" />
                <span asp-validation-for="StoreId" class="text-danger"></span>
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
