@model eStore.Shared.Models.Payroll.Attendance

@{
    ViewData["Title"] = "Create";
}

<h4 class="purple-text">Attendance</h4>
<hr class="text-info"/>
<div>
    <p class="text-danger">@ViewBag.ErrorMessage</p>
 </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="md-form md-outline">
                <label asp-for="AttDate" class="control-label"></label>
                <input asp-for="AttDate" class="form-control" />
                <span asp-validation-for="AttDate" class="text-danger"></span>
            </div>
            
        <div class="md-form md-outline input-with-post-icon timepicker clockpicker" darktheme="true" default="now" twelvehour="true">
            <input type="text" class="form-control" placeholder="Select time" asp-for="EntryTime">
            <label asp-for="EntryTime"></label>
            <i class="fas fa-clock  input-prefix"></i>
            @*<span asp-validation-for="EntryTime" class="text-danger"></span>*@
        </div>
           
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<AttUnit>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="md-form md-outline">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
          
            <div class="  form-check">
                <input class="form-check-input" asp-for="IsTailoring" type="checkbox" data-val="true" />
                <label class="form-check-label" asp-for="IsTailoring"></label>
                <span asp-validation-for="IsTailoring" class="text-danger"></span>
            </div>

            <div>
                <input type="hidden" asp-for="UserId" value="@User.Identity.Name" />
                <input type="hidden" asp-for="StoreId" value="@ViewBag.StoreId" />
                <input type="hidden" asp-for="EntryStatus" value="0" />
                <input type="hidden" asp-for="IsReadOnly" value="false" />
                <span asp-validation-for="UserId" class="text-danger"></span>
                <span asp-validation-for="StoreId" class="text-danger"></span>
                <span asp-validation-for="IsReadOnly" class="text-danger"></span>
                <span asp-validation-for="EntryStatus" class="text-danger"></span>
            </div>

            <div class="form-group mt-4 float-right">
                <input type="submit" value="Create" class="btn btn-primary btn-rounded btn-sm waves-effect" />
            </div>
        </form>
    </div>
</div>


