@model eStore.Shared.Models.Sales.DailySale

@{
    ViewData["Title"] = "Create";

}
<h4>Daily Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UserId" value="@User.Identity.Name" />
            <input type="hidden" asp-for="StoreId" value="@ViewBag.StoreId" />
            <input type="hidden" asp-for="EntryStatus" value="0" />
            <input type="hidden" asp-for="IsReadOnly" value="false" />
            <input type="hidden" asp-for="IsMatchedWithVOy" value="false" />

            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvNo" class="control-label"></label>
                <input asp-for="InvNo" class="form-control" />
                <span asp-validation-for="InvNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMode" class="control-label"></label>
                <select asp-for="PayMode" class="form-control" asp-items="Html.GetEnumSelectList<PayMode>()"></select>@*onchange="ProcessPaymentMode(this.options[this.selectedIndex].text)"*@
                <span asp-validation-for="PayMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashAmount" class="control-label"></label>
                <input asp-for="CashAmount" class="form-control" />
                <span asp-validation-for="CashAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesmanId" class="control-label">Salesman</label>
                <select asp-for="SalesmanId" class="form-control" asp-items="ViewBag.SalesmanId"></select>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsDue" type="checkbox" data-val="true" />
                <label class="form-check-label" asp-for="IsDue">
                    @*@Html.DisplayNameFor(model => model.IsDue)*@
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" asp-for="IsManualBill" type="checkbox" data-val="true" />
                <label class="form-check-label" asp-for="IsManualBill"></label>
            </div>
            <div class=" form-check">
                <input class="form-check-input" asp-for="IsTailoringBill" type="checkbox" data-val="true" />
                <label class="form-check-label" asp-for="IsTailoringBill"></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsSaleReturn" type="checkbox" data-val="true" />
                <label class="form-check-label" asp-for="IsSaleReturn"></label>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-amber btn-sm btn-rounded waves-button" />
            </div>
        </form>
    </div>
</div>

@*<div>

    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}