@model eStore.Shared.Models.Accounts.Party

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Party</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartyId" />
            <div class="form-group">
                <label asp-for="PartyName" class="control-label"></label>
                <input asp-for="PartyName" class="form-control" />
                <span asp-validation-for="PartyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenningDate" class="control-label"></label>
                <input asp-for="OpenningDate" class="form-control" />
                <span asp-validation-for="OpenningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenningBalance" class="control-label"></label>
                <input asp-for="OpenningBalance" class="form-control" />
                <span asp-validation-for="OpenningBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PANNo" class="control-label"></label>
                <input asp-for="PANNo" class="form-control" />
                <span asp-validation-for="PANNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSTNo" class="control-label"></label>
                <input asp-for="GSTNo" class="form-control" />
                <span asp-validation-for="GSTNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LedgerTypeId" class="control-label"></label>
                <select asp-for="LedgerTypeId" class="form-control" asp-items="ViewBag.LedgerTypeId"></select>
                <span asp-validation-for="LedgerTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

