@model eStore.Shared.Models.Accounts.Expenses.Rent

@{
    ViewData["Title"] = "Create";
}



<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentedLocationId" class="control-label"></label>
                <select asp-for="RentedLocationId" class ="form-control" asp-items="ViewBag.RentedLocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RentType" class="control-label"></label>
                <select asp-for="RentType" class="form-control"></select>
                <span asp-validation-for="RentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnDate" class="control-label"></label>
                <input asp-for="OnDate" class="form-control" />
                <span asp-validation-for="OnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mode" class="control-label"></label>
                <select asp-for="Mode" class="form-control"></select>
                <span asp-validation-for="Mode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDetails" class="control-label"></label>
                <input asp-for="PaymentDetails" class="form-control" />
                <span asp-validation-for="PaymentDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="StoreId" class="form-control" type="hidden" value="@ViewBag.StoreId" />
                <input asp-for="UserId" class="form-control" type="hidden" value="@User.Identity.Name" />
                <input asp-for="EntryStatus" class="form-control" type="hidden" value="0" />
                <input asp-for="IsReadOnly" type="hidden" value="false" />

                <span asp-validation-for="EntryStatus" class="text-danger"></span>
                <span asp-validation-for="StoreId" class="text-danger"></span>
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

