@model eStore.Shared.Models.Common.PurchaseTaxType

@{
    ViewData["Title"] = "Create";
}



<h4>PurchaseTaxType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaxName" class="control-label"></label>
                <input asp-for="TaxName" class="form-control" />
                <span asp-validation-for="TaxName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxType" class="control-label"></label>
                <select asp-for="TaxType" class="form-control"></select>
                <span asp-validation-for="TaxType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompositeRate" class="control-label"></label>
                <input asp-for="CompositeRate" class="form-control" />
                <span asp-validation-for="CompositeRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

